
/* imports */
@import 'colors.var.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:400,400i,700');

/* vars */
$max-width: 768px;

$width-4: 1440px;
$width-3: 1100px;
$width-2: 800px;
$width-1: 600px;

$dark: #222;
$light: #ddd;

$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;


/* normalization */
div { display: inline-block }

/* mixins */
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* Top -> Down */

html, body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body { // container for sections

  color: var(--md-grey-700);
  background-color: var(--md-grey-200);

  text-align: center;

}

body * { display: inline-block; font-size : inherit; letter-spacing: inherit }


// HEADER

header {
  display: flex;
  width: 100%;

  color: var(--md-grey-200);
  background-color: var(--md-grey-900);

  font-family: $Montserrat;
  margin-bottom: 48px;

  > .title {

    display: inline-block;
    width: 100%;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;

    span {

      font-size: 36px;
      letter-spacing: 7px;

    }
  }

  > .poem {

    width: 100%;
    //padding: 8px 0;

    text-align: center;

    span {

      font-weight: lighter;
      font-size: 24px;
      letter-spacing: 1px;

    }
  }

  > nav {

    display: inline-block;
    width: 50%;
    padding: 40px;
    text-align: right;

    span {

      margin: 0 16px;
      padding: 6px;

      font-weight: lighter;
      font-size: 32px;

    }
  }
}

// SECTIONS

.page-section {

  width: 100%;
  text-align: left;
  margin-bottom: 42px;

}

#code-section, #design-section, #about-section {

  max-width: 900px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 50px;

}

.section-title {

  width: 100%;
  margin-bottom: 32px;

  font-family: $Montserrat;
  font-size: 64px;

}

// CODE-SECTION

#code-section {



}

.code-section-project {

  width: 100%;
  margin-bottom: 48px;

  font-family: $Roboto;

}

$code-section-project-tile-image-padding: 32px;

.code-section-project-image-link {

  margin: 0
          $code-section-project-tile-image-padding
          2px
          0;
  float: left;

}

.code-section-project-image {

  width: 128px;
  height: 128px;

}

.code-section-project-title-bar {

  width: calc(100% - (128px + #{$code-section-project-tile-image-padding}));
  margin-bottom: 24px;

}

.code-section-project-title-text {

  font: 36px $Roboto;

}

.code-section-project-title-info {

  float: right;
  font: italic 18px $Roboto;

}

//italic bold 48px "Roboto Condensed", sans-serif;

.code-section-project-description {

  display: inline;
  margin-bottom: $code-section-project-tile-image-padding;

  font: 18px $Roboto;



}

$code-section-project-action-button-box-width: 80px;

.code-section-project-techdetails {

  width: calc(100% - #{$code-section-project-action-button-box-width});
  margin-top: $code-section-project-tile-image-padding;
  padding-right: 32px;
  box-sizing: border-box;

  font: bold 18px $Roboto;

}

.code-section-project-techdetails > .title {

  font-style: italic;
  font-weight: normal;

}

.code-section-project-action-buttons {

  width: $code-section-project-action-button-box-width;
  margin-top: $code-section-project-tile-image-padding;
  float: right;

  text-align: right;

}

.code-section-project-action-button {

  padding: 4px;

}

// ABOUT-SECTION

#about-section {}

.about-section-image {

  width: 200px;
  margin: 0 0 4px 32px;
  float: right;

}

.about-section-desc {

  display: inline;

  font: 18px $Roboto;

}


// RESPONSIVE

@media screen and (max-width: 900px) {

  #code-section, #design-section, #about-section {
    padding: 0 6%;
  }

  .section-title {
    text-align: center;
  }

  .code-section-project {
    text-align: center;
  }

  .code-section-project-image-link {
    margin-right: 0;
    margin-bottom: $code-section-project-tile-image-padding;
    float: none;
  }

  .code-section-project-title-bar {
    width: 100%;
  }

  .code-section-project-title-info {
    display: none;
  }

  .code-section-project-description {
    display: inline-block;
    text-align: left;
  }

  .code-section-project-techdetails {
    width: 100%;
    margin-top: 0;
    text-align: left;
  }


}
