

/* normalization */
div { display: inline-block }

/* imports */
@import 'colors';
@import 'https://fonts.googleapis.com/css?family=Crete+Round';

/* mixins */
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* colors */
$dark: #222;
$light: #ddd;


/* page setup */
html { width: 100%; height: 100%; font-size: 0; @media screen and (max-width: 768px) { height: 200%; } }
body { width: 100%; height: 100%; margin: 0; overflow-y: scroll; background-color: $dark; }
body * { font-size : inherit; letter-spacing: inherit }



body > .content { width: 100%; height: 100%; font-size: 0}

.l {
  width: 100%;
  height: 100%;
}

.out {
  position: absolute;
  top: 0px; left: 0px;
}

.out {
  .a, .b {
    width: 50%;
    height: 100%;
    float: left;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }
}

div#words {
  text-align: center;
  z-index: 50;

  letter-spacing: 0.1em;
  font: {
    size: 48px;
    family: 'Crete Round', sans-serif;
  }

  .a { color: $light; text-align: right; padding-right: 24px;}
  .b { color: #333; text-align: left; padding-left: 24px;}

  .a, .b {
    box-sizing: border-box;
    display: table;

    @media screen and (max-width: 768px) {
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .a > *, .b > * {
    display: table-cell; vertical-align: middle;
  }

  .a > * {
    height: 308px;
  }

  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #222;
    font-size: 18pt;

    li {
      display: inline-block;
      padding: 12px 32px;
      letter-spacing: 0.1em;
    }
  }

}

#name {
  height: 290px;
  @media screen and (max-width: 768px) {height: auto;}
}

#pages > li {
  display: block;
  margin: 12px;
  @media screen and (max-width: 768px) {
  }
}

div#blend {
  text-align: center;
  z-index: 40;
  mix-blend-mode: difference;

  .b {
    background-color: white;
  }
}

.in {
  position: fixed;
  top: 0px; left: 0px;

  .canvas { display: block; }
}
